openapi: 3.1.0
info:
  title: Raydium REST API v3 Farms Pools API
  description: 'Public, unauthenticated REST API used by the Raydium UI and integrators for

    Solana AMM and CLMM pool data, farm rewards, token / mint metadata, prices,

    chain time, and swap quote/transaction helpers. Endpoint paths are taken

    from the open-source raydium-sdk-V2 url table; HTTP methods are GET except

    where the path implies a transactional helper.

    '
  version: 3.0.1
  contact:
    name: Raydium
    url: https://api-v3.raydium.io/docs/
servers:
- url: https://api-v3.raydium.io
  description: Raydium public API
tags:
- name: Pools
paths:
  /pools/info/list-v2:
    get:
      summary: List pools with filter / sort / pagination
      operationId: listPools
      parameters:
      - name: poolType
        in: query
        schema:
          type: string
      - name: poolSortField
        in: query
        schema:
          type: string
      - name: sortType
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: page
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Pool list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Pools
  /pools/info/ids:
    get:
      summary: Look up pools by ID
      operationId: getPoolsByIds
      parameters:
      - name: ids
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Pool detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Pools
  /pools/info/lps:
    get:
      summary: Look up pools by LP mint
      operationId: getPoolsByLps
      parameters:
      - name: lps
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Pool detail by LP mint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Pools
  /pools/key/ids:
    get:
      summary: Get on-chain keys for pools by ID
      operationId: getPoolKeys
      parameters:
      - name: ids
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Pool keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Pools
  /pools/line/liquidity:
    get:
      summary: Get CLMM liquidity-by-tick line
      operationId: getPoolLiquidityLine
      parameters:
      - name: id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Liquidity line.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Pools
  /pools/line/position:
    get:
      summary: Get CLMM position line for a pool
      operationId: getPoolPositionLine
      parameters:
      - name: id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Position line.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Pools
components:
  schemas:
    Envelope:
      type: object
      properties:
        id:
          type: string
          description: Request UUID.
        success:
          type: boolean
        data:
          description: Response payload (shape varies per endpoint).
