openapi: 3.1.0
info:
  title: Raydium REST API v3 Farms Main API
  description: 'Public, unauthenticated REST API used by the Raydium UI and integrators for

    Solana AMM and CLMM pool data, farm rewards, token / mint metadata, prices,

    chain time, and swap quote/transaction helpers. Endpoint paths are taken

    from the open-source raydium-sdk-V2 url table; HTTP methods are GET except

    where the path implies a transactional helper.

    '
  version: 3.0.1
  contact:
    name: Raydium
    url: https://api-v3.raydium.io/docs/
servers:
- url: https://api-v3.raydium.io
  description: Raydium public API
tags:
- name: Main
paths:
  /main/version:
    get:
      summary: Get latest / least supported API versions
      operationId: getVersion
      responses:
        '200':
          description: Version envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
      tags:
      - Main
  /main/info:
    get:
      summary: Get protocol-level info (24h volume, TVL)
      operationId: getInfo
      responses:
        '200':
          description: Aggregate protocol info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoResponse'
      tags:
      - Main
  /main/chain-time:
    get:
      summary: Get current Solana chain time used by Raydium
      operationId: getChainTime
      responses:
        '200':
          description: Chain time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Main
  /main/rpcs:
    get:
      summary: List Solana RPC endpoints used by the UI
      operationId: getRpcs
      responses:
        '200':
          description: RPC list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Main
  /main/stake-pools:
    get:
      summary: List Raydium stake pools
      operationId: getStakePools
      responses:
        '200':
          description: Stake pool list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Main
  /main/clmm-config:
    get:
      summary: Get CLMM configuration
      operationId: getClmmConfig
      responses:
        '200':
          description: CLMM config.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Main
  /main/cpmm-config:
    get:
      summary: Get CPMM configuration
      operationId: getCpmmConfig
      responses:
        '200':
          description: CPMM config.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Main
  /main/auto-fee:
    get:
      summary: Get current auto priority fee suggestion
      operationId: getAutoFee
      responses:
        '200':
          description: Suggested compute-unit fee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Main
  /main/farm/info:
    get:
      summary: Get aggregated farm info
      operationId: getFarmInfo
      responses:
        '200':
          description: Farm info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Main
  /main/farm-apr-tv:
    get:
      summary: Get farm APR / TVL series
      operationId: getFarmAprTvl
      responses:
        '200':
          description: APR / TVL series.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Main
  /v3/main/AvailabilityCheckAPI:
    get:
      summary: Service availability check
      operationId: getAvailability
      responses:
        '200':
          description: Availability response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Main
components:
  schemas:
    Envelope:
      type: object
      properties:
        id:
          type: string
          description: Request UUID.
        success:
          type: boolean
        data:
          description: Response payload (shape varies per endpoint).
    InfoResponse:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          data:
            type: object
            properties:
              volume24:
                type: number
              tvl:
                type: number
    VersionResponse:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          data:
            type: object
            properties:
              latest:
                type: string
              least:
                type: string
