openapi: 3.1.0
info:
  title: Raydium REST API v3 Farms API
  description: 'Public, unauthenticated REST API used by the Raydium UI and integrators for

    Solana AMM and CLMM pool data, farm rewards, token / mint metadata, prices,

    chain time, and swap quote/transaction helpers. Endpoint paths are taken

    from the open-source raydium-sdk-V2 url table; HTTP methods are GET except

    where the path implies a transactional helper.

    '
  version: 3.0.1
  contact:
    name: Raydium
    url: https://api-v3.raydium.io/docs/
servers:
- url: https://api-v3.raydium.io
  description: Raydium public API
tags:
- name: Farms
paths:
  /farms/info/ids:
    get:
      summary: Look up farms by ID
      operationId: getFarmsByIds
      parameters:
      - name: ids
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Farm info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Farms
  /farms/info/lp:
    get:
      summary: Get farms by LP mint
      operationId: getFarmsByLp
      parameters:
      - name: lp
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Farm info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Farms
  /farms/key/ids:
    get:
      summary: Get on-chain keys for farms by ID
      operationId: getFarmKeys
      parameters:
      - name: ids
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Farm keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      tags:
      - Farms
components:
  schemas:
    Envelope:
      type: object
      properties:
        id:
          type: string
          description: Request UUID.
        success:
          type: boolean
        data:
          description: Response payload (shape varies per endpoint).
